In [2]:
# python data types
a = 21
b = "vatsal"
c = True
d = 3.14

print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>

In [9]:
# string slicing
#immutable whilw changinf value of index
str = "vatsal chauhan"
print(str[0])
print(str[1:4])
print(str[:4])
print(str[0:])
print(str[0::2])

v
ats
vats
vatsal chauhan
vta hua

In [15]:
# string methods

str = "hello world"
str2 = "hello vatsal"

str3 = str+str2
print(str3)

str3.upper()
str3.lower()
str.isupper()
str3.islower()
type(str3.split())

hello worldhello vatsal

list

In [7]:
# string formatting

print("helllo how are you {} what is your age {}".format("vatsal",21))
print("colors are {} {} {} {}".format("red","blue","green","black"))
print("colors are {1} {0} {3} {2}".format("red","blue","green","black"))
print("colors are {0} {0} {3} {3}".format("red","blue","green","black"))

helllo how are you vatsal what is your age 21
colors are red blue green black
colors are blue red black green
colors are red red black black

In [12]:
# float value precesion
f = 22/7
print(f)

print("value is :{r:1.3f}".format(r=f))
print("value is :{r:1.2f}".format(r=f))
print("value is :{r:1.6f}".format(r=f))

3.142857142857143
value is :3.143
value is :3.14
value is :3.142857

In [14]:
# f strings
name = "vatsal"
suranme = "chauhan"
age = 21
print(f" name is {name} surname is {suranme} and age is {age}")

 name is vatsal surname is chauhan and age is 21

In [36]:
# list
'''
list are ordered mutable collections of items
'''
ls = [1,2,"vatsal",3.14,True,"crest"]
print(ls)
print(type(ls))
ls[3]=1.86 # mutability canhe values at  any time, dynamic nature
# slicing list
print(ls[0:])
print(ls[0::3])
print(ls[::-1])
print(ls[4::-1])

[1, 2, 'vatsal', 3.14, True, 'crest']
<class 'list'>
[1, 2, 'vatsal', 1.86, True, 'crest']
[1, 1.86]
['crest', True, 1.86, 'vatsal', 2, 1]
[True, 1.86, 'vatsal', 2, 1]

In [37]:
# list methods 
ls.append("infosystem")
print(ls)
ls.insert(2,"between")
print(ls)

ls.remove("between")
print(ls)
ls.pop()
print(ls)

print(ls.index(1.86))
ls.count("infosystem")

[1, 2, 'vatsal', 1.86, True, 'crest', 'infosystem']
[1, 2, 'between', 'vatsal', 1.86, True, 'crest', 'infosystem']
[1, 2, 'vatsal', 1.86, True, 'crest', 'infosystem']
[1, 2, 'vatsal', 1.86, True, 'crest']
3

0

In [39]:
ls.clear()
ls

[]

In [48]:
# iterating over the list using loops

ls = [1,2,3,4,5,6,7,8,9,10,"vatsal","crest","chauhan"]
for i in ls:
    print(i,end=" ")
print()
for index,value in enumerate(ls):
    print(f"index {index} ,value {value}")

1 2 3 4 5 6 7 8 9 10 vatsal crest chauhan
index 0 ,value 1
index 1 ,value 2
index 2 ,value 3
index 3 ,value 4
index 4 ,value 5
index 5 ,value 6
index 6 ,value 7
index 7 ,value 8
index 8 ,value 9
index 9 ,value 10
index 10 ,value vatsal
index 11 ,value crest
index 12 ,value chauhan

In [54]:
#list comrehension

ls = [i for i in range(10)]
print(ls)
ls = [i*2 for i in range(10)]
print(ls)

ls = [i%2==0 for i in range(10)]
print(ls)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[True, False, True, False, True, False, True, False, True, False]

In [56]:
# tuples in python
# they are immutable values cannot bbe changed lated 
tple = (1,2,3,"vatsal","crest")
print(tple)
print(type(tple))

(1, 2, 3, 'vatsal', 'crest')
<class 'tuple'>

In [58]:
tple.append()

AttributeError: 'tuple' object has no attribute 'append'

In [60]:
tple[0]

1

In [62]:
tple[0]="vatsal"

TypeError: 'tuple' object does not support item assignment

In [64]:
tple[0:]

(1, 2, 3, 'vatsal', 'crest')

In [69]:
# sets in python
s = {1,2,3,4,5,6,7,8}
print(s)
s = {8,7,6,5,4,3,2,1}
print(s)
s = {6,4,1,"vatsal",90,"chauahn"}
print(s)
s = {1,1,1,1,2,2,2,}
print(s)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 'chauahn', 4, 6, 'vatsal', 90}
{1, 2}

In [72]:
s2 = {5,6,7,8,9}

s.union(s2)
s.issubset(s2)

False

In [74]:
s.add(22)
s.pop()
s.discard("vatsal")
s.clear()

In [80]:
# dictionaries
dict = {
    "name":"vatsal",
    "surname":"chauhan",
    "age":21
}
print(dict)
dict["name"]="crest"
print(dict)
# no data dedundancy
# unique keys

print(dict.get("age"))
print(dict.get("company"))
print(dict.get("company","sorry not found"))

{'name': 'vatsal', 'surname': 'chauhan', 'age': 21}
{'name': 'crest', 'surname': 'chauhan', 'age': 21}
21
None
sorry not found

In [82]:
# inser / update/ delete dictionary keys
dict["company"]="crest"
print(dict)
del dict["company"]

print(dict)

{'name': 'crest', 'surname': 'chauhan', 'age': 21, 'company': 'crest'}
{'name': 'crest', 'surname': 'chauhan', 'age': 21}

In [86]:
# keys and values

print(dict.keys())
print(dict.values())
print(dict.items())

dict_keys(['name', 'surname', 'age'])
dict_values(['crest', 'chauhan', 21])
dict_items([('name', 'crest'), ('surname', 'chauhan'), ('age', 21)])

In [91]:
# copy dcitionaries

dict_copy = dict

print(dict)
print(dict_copy)
dict["name"]="change"
print(dict)
print(dict_copy)
dict_copy["age"]=30

print(dict)

{'name': 'change', 'surname': 'chauhan', 'age': 30}
{'name': 'change', 'surname': 'chauhan', 'age': 30}
{'name': 'change', 'surname': 'chauhan', 'age': 30}
{'name': 'change', 'surname': 'chauhan', 'age': 30}
{'name': 'change', 'surname': 'chauhan', 'age': 30}

In [92]:
dict_copy = dict.copy() # to avoid deep copy of dictionariers

In [95]:
for i,j in dict.items():
    print(i,j)

name change
surname chauhan
age 30

In [99]:
# nested dictionries 
dict ={
    "student1":{"name":"vatsal","age":21},
    "student2":{"name":"meet","age":51},
    "student3":{"name":"vatsal","age":91}
}
print(dict)

for i,j in dict.items():
    print(i,j)

for i,j in dict.items():
    print(i,j)
    for i,j in j.items():
        print(i,j)

{'student1': {'name': 'vatsal', 'age': 21}, 'student2': {'name': 'meet', 'age': 51}, 'student3': {'name': 'vatsal', 'age': 91}}
student1 {'name': 'vatsal', 'age': 21}
student2 {'name': 'meet', 'age': 51}
student3 {'name': 'vatsal', 'age': 91}
student1 {'name': 'vatsal', 'age': 21}
name vatsal
age 21
student2 {'name': 'meet', 'age': 51}
name meet
age 51
student3 {'name': 'vatsal', 'age': 91}
name vatsal
age 91