Python Conditional Statement Exercises

In [16]:
'''
Given a natural number n, the task is to write a Python program to first find the sum of first n natural numbers and then print each step as a pattern 
'''
n = int(input("enter n"))
sum =0
for i in range(1,n+1):
    temp = []
    for j in range(1,i+1):
        
        temp.append(str(j))
    temp2 = "+".join(temp)
    sum = sum+i  
    print(f"{temp2}={sum}")

1=1
1+2=3
1+2+3=6
1+2+3+4=10
1+2+3+4+5=15

In [19]:
'''
Given a positive integer N, the task is to write a Python program to check if the number is Prime or not in Python. 
'''
x = int(input("write a number : "))
c =0
for i in range(1,x+1):
    if(x%i==0):
        c+=1
if c==2:
    print("prime")
else:
    print("not prime")

not prime

list

In [20]:
print(max(2,10))
print(min(10,20))

10
10

In [22]:
'''
Given a list, write a Python program to swap the first and last element of the list using 
'''
s = input('insert a list')
ls = list(s.split())
print(ls[0],ls[-1])

1 8

In [24]:
a = [10, 20, 30, 40, 50]

a[0], a[4] = a[4], a[0]

print(a)

[50, 20, 30, 40, 10]

Strings

In [25]:
'''
We are given a string and we need to reverse words of a given string 
'''

s = input("enter a string ")
t = list(s.split())
y = t[::-1]
ans = " ".join(y)
print(ans)

ml ai chauhan vatsal

In [26]:
'''
Find Length of String in Python 
'''
s = "vatsal chauhan"
print(len(a))

5

In [27]:
'''
Given a string. The task is to print all words with even length in the given string. 
'''
s = input("enter string")
ls= list(s.split())
ans=[]
for i in ls:
    if len(i)%2==0:
        ans.append(i)
print(ans)

['vatsal', 'am']

In [32]:
'''
Python program to check whether the string is Symmetrical or Palindrome 
'''

def Palindrome_check(s):
    for i in range(len(s)//2):
        if s[i]!=s[len(s)-i-1]:
          print("not plaindrome")
          return
    return "palindrome"    

s = input("enter a valid string")
Palindrome_check(s)

'palindrome'

Tuple

In [36]:
est_tup = [3, 7, 1, 18, 9]
k = 2 
for i in range(k):
    for j in range(len(est_tup)-1):
        if est_tup[i]>est_tup[i+1]:
            t = est_tup[i]
            est_tup[i] = est_tup[i+1]
            est_tup[i+1] = t
print(est_tup)

[3, 1, 7, 18, 9]

In [75]:
test_list = [[('gfg',3),('best',1)]]
cus_eles = [1, 2]
ans=[]
for i,j in enumerate(test_list):

    for x,y in enumerate(j):
             temp = list(y)
             temp.append(cus_eles[x])
             ans.append(temp)
print(ans)

[['gfg', 3, 1], ['best', 1, 2]]

In [78]:
'''
Given a list of numbers of list, write a Python program to create a list of tuples having first element as the number and second element as the cube of the number.
''' 
ls = [1,2,3,4,5,6]
ans=[]

for i in ls:
    t = i**3
    temp = []
    temp.append(i)
    temp.append(t)
    tpl = tuple(temp)
    ans.append(tpl)
print(ans)

[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125), (6, 216)]

Dictionaries

In [ ]:
d = {'ravi': 10, 'rajnish': 9, 'sanjeev': 15}

ls = list(d.keys())
ls.sort()
ans=[i:d[i] for i in ls]

TypeError: list.append() takes no keyword arguments

In [89]:
'''
Given a dictionary in Python, write a Python program to find the sum of all items in the dictionary. 
'''

dict = {'a': 100, 'b':200, 'c':300}
sum =0

for i in dict.values():
    sum = sum+i
print(sum)

600

In [91]:
import sys
sys.getsizeof(dict)

184

sets

In [93]:
s = {}
print(sys.getsizeof(s))

64

In [130]:
se = ([8, 16, 24, 1, 25, 3, 10, 65, 55])
max(st)

NameError: name 'st' is not defined

In [132]:
lst =[1,2,3,4]
temp = set(lst)

TypeError: 'list' object is not callable